{% load staticfiles %}
<html>
<head> <title> Demo App </title> 
</head>
<body>
<video id="video" width="640" height="480" autoplay></video>

<div style="float:right">
    <form action="/save/" method="post" enctype="multipart/form-data">
    Select image to upload:
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="Upload Image" name="submit" id='upload_img'>
</form>
</div>
<button id="snap">Snap Photo</button>
<canvas id="canvas" width="640" height="480"></canvas>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script type="text/javascript" src='{% static "js/home_page.js" %}'></script>
</body>
</html>